#pukiwiki-editor-container {
  margin-top: 2px;
  background-color: beige;
}

#edit-pane {
  resize: vertical;
  width: 49%;
  margin-right: 1%;
  display: inline-block;
  vertical-align: top;
}

#preview {
  width: 50%;
  display: inline-block;
}
